
<article class="media">
  <div class="media-left datetime">
    <div class="month">ENE</div>
    <div class="day">11</div>
    <div class="year">2020</div>
    <p class="time">21:00</p>
  </div>
  <div class="media-left">
    <% if event.images.attached? %>
      <%= image_tag event.images[0].variant(resize_to_limit: [100, 100]) %>
    <% end  %>

  </div>
  <div class="media-content pad-top">
    <p class="subtitle is-6 is-spaced is-marginless"><a href="<%= band_path event.band %>"><%= event.band.name %></a></p>
    <p class="subtitle is-6 is-spaces is-marginess"> <%= event.name %></p>
    <p class="subtitle is-6 is-spaces is-marginess"> <span class="icon"><i class="fas fa-map-marker-alt"></i></span><%= event.venue.name %></p>
  </div>

  <%= event.description %>
  <div class="media-right pad-top"> <%= event.price_min %>€</div>
</article>
