<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>music.madrid!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar"  role="navigation" aria-label="main navigation">
    <div class="container is-marginless">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"><h1 class="webtitle">music.madrid</h1></a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroA">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-start">

          <%= active_link_to 'Eventos', events_path, :class_active=> 'is-active', :class => 'navbar-item' %>
          <%= active_link_to 'Clubs', venues_path, :class_active=> 'is-active', :class => 'navbar-item' %>
          <%= active_link_to 'Grupos', bands_path, :class_active=> 'is-active', :class => 'navbar-item' %>
          <!-- TODO: artistas -->
          <!-- TODO: escuelas -->
        </div>
        <div class="navbar-end">

          <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">
              Account
            </div>
            <div class="navbar-dropdown">

                <% if user_signed_in? %>
                  <a class="navbar-item">Logged in as <%= current_user.email %>.</a>
                        <% if can? :access, :rails_admin %>
                          <%= link_to 'Consola administrativa', rails_admin_path, :class => 'navbar-item' %>
                        <% end %>
                        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %>
                        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>

                <% else %>

                        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item'  %>
                        <%= link_to "Login", new_user_session_path, :class => 'navbar-item'  %>
                <% end %>

            </div>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <!--<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <-% for page in @page.ancestors.reverse %>
        <li><-%= active_link_to h(page.name), page, :class_active=> 'is-active' %> </li>
      <-% end %>
    </ul>
  </nav>
  -->



  <section class="container is-marginless">
    <div class="container is-fluid">
      <% if alert %>
      <article class="message is-danger">
        <div class="message-header"><p>Alert</p></div>
        <div class="message-body"><%= alert %>></div>
      </article>
     <% end %>
      <% if notice %>
        <article class="message is-info">
          <div class="message-header"><p>Message</p></div>
          <div class="message-body"><%= notice %></div>
        </article>
      <% end %>
    </div>
    <div class="container is-fluid  ">
      <%= yield %>
    </div>
  </section>
  </body>
</html>
