<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>music.madrid!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar"  role="navigation" aria-label="main navigation">
    <div class="container is-marginless">
      <div class="navbar-brand">
        <a class="navbar-item"><h1 class="webtitle">music.madrid</h1></a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroA">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item is-active">
            Eventos
          </a>
          <a class="navbar-item">
            Clubs
          </a>
          <a class="navbar-item">
            Artistas
          </a>
          <a class="navbar-item">
            Escuelas
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link">
              Account
            </div>
            <div class="navbar-dropdown">

                <% if user_signed_in? %>
                  <a class="navbar-item">Logged in as <strong><%= current_user.email %></strong>.</a>
                        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item' %>
                        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-item'  %>

                <% else %>

                        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item'  %>
                        <%= link_to "Login", new_user_session_path, :class => 'navbar-item'  %>
                <% end %>

            </div>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <section class="hero is-primary is-medium is-bold">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <!--

    -->
    </div>
  </section>

  <section class="container is-marginless">
    <div class="container is-fluid">
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li><a href="#/events/">Eventos</a></li>
          <li class="is-active" aria-current="page"><a href="#/events/jazz">Jazz</a></li>
        </ul>
      </nav>
    </div>
  </section>


  <section class="container is-marginless">
    <div class="container is-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="container is-fluid  ">
      <article class="media">
      <%= yield %>
      </article>
    </div>
  </section>
  </body>
</html>
