

<section class="hero is-primary is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class=>:box}) do |f| %>
            <div class="field">
              <%= f.label :email, :class=>:label %>
              <div class="control has-icons-left">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder =>"e.g. bobsmith@gmail.com", :class => :input, :required => true %>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <%= f.label :password, :class=>:label %>
              <div class="control has-icons-left">
                <%= f.password_field :password, autocomplete: "current-password", :class => :input, :required => true %>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <label for="" class="checkbox">
                  <%= f.check_box :remember_me, :class => :checkbox%>
                  Remember me
                </label>
              </div>
            <% end %>
            <div class="field">
              <%= render "devise/shared/links" %>
            </div>
            <div class="field">
              <div class="actions">
                <%= f.submit "Log in", :class => 'button is-success' %>
              </div>

            </div>

         <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


